.gallery-header{
	background-color: white;
	border-bottom: 1px solid var(--border-color);
	padding: 0 30px;
	height: 60px;
	display: flex;
	align-items: center;

	&__title{
		font-size: 30px;
		font-weight: 600;
	}

	&__action_row{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__select-count{
		display: flex;
		align-items: center;
		column-gap: 6px;
	}
	&__delete{
		color: red;
		text-transform: capitalize;
		font-size: 16px;
		span{
			text-transform: lowercase;
		}
	}
}