
.gallery-wrapper {
	background-color: white;
	border-radius: 15px;
	border: 1px solid var(--border-color);
	padding: 10px 30px 30px 30px;
	margin: 40px 0;
	.gallery {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 15px;
	}
}