
.gallery-wrapper {
	background-color: white;
	border-radius: 15px;
	border: 1px solid var(--border-color);
	margin: 40px 0;
	overflow: hidden;

	.gallery {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 15px;
		padding: 30px;
	}
}